*{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
    
    /* display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
  
}
p{
    font-weight: 400;
}

.main-navbar{
   display: flex;
   align-items: center;
   gap:30px;
   /* padding: 0px 15px; */
   padding-top: 15px;
   
}
.main-navbar h3{
    font-size: 24px;
    width: 22%;
    /* height: 58px; */
    display: flex;
    color: #252B42;
    padding: 0;
    align-items: center;
    
}
.navlist{
    display: flex;
    gap: 21px;
    padding: 1px;
    font-size: 14px;
    list-style-type: none;
    align-items: baseline;
}
.nav-link{
    color:#737373;

}
.main-navbar ul li{
    list-style: none;
    position: relative;
    display: inline;
}

.dropdown{
    /* width: 100%; */
    background-color: #0056b3a6;
    position: absolute;
    display: none;
    z-index: 2;
    padding: 10px 0px 10px 0px;
    border-radius: 20px 0px 0px 20px;
    color: white;
}
.dropdown li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.dropdown li{
    padding: 8px 20px;
}
.dropdown2{
    /* width: 100%; */
    background-color: #0056b3e5;
    position: absolute;
    left: 85px;
    top: 20px;
    z-index: 999;
    display: none;
    padding: 10px 0px 10px 4px;
    border-radius: 0px 10px 10px 0px;
}  
.layer-1{
    z-index: 0;
    padding-bottom: 120px;
}
/* .dropdown a{ 
    z-index: 0;
    padding-right:;
} */
.layer-1:hover + .dropdown {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    
}

.dropdown:hover{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
/* .example:hover +.dropdown2{
    display: block;
} */
.layer-2:hover + .dropdown2{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.dropdown2:hover{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.main-navbar ul li .dropdown li{
    display: block;

}
.main-navbar ul li a{
    text-decoration: none;
}
/* .main-navbar ul li a:hover{ */
    /* background-color: #0056b3; */
/* } */
/* ul li:hover ul .dropdown{
    display: block;
} */
/* ul li:hover ul .dropdown2{
    display: block;
} */

.bg-header-section{
    background-color: #ECF4FF;
}
.button{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    justify-content:center ;
    border: none;
}
.link{
    padding: 0px 0px 100px 0px;
}

.buttom-colour{
    background-color: #23A6F0;
    color: #fff;
}
.border-button{
    background-color: transparent;
    border: 1px solid #23A6F0;
    color: #23A6F0;

}
.round-border-button{
    color: #23A6F0;
    border: 1px solid #23A6F0;
    background-color: transparent;
    border-radius: 37px;

}
.transparent-button{
    border: none;
    background-color:transparent;
    color: #23A6F0;

}
/* .button{
      
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    
} */
body{
    margin: 0;
    /* overflow: hidden;
    width:100% ;
    height: 100%; */
    
}
.bg-hero-section{
    background-color: #ECF4FF;
}
.containerhead{
    margin: auto;
    max-width: 1300px;
}
.container{
    margin: auto;
    max-width: 1145px;
}
.nav_button {
    align-items: center;
    display: flex;
    gap: 45px;
}
.navbar{
    display: flex;
    /* gap: 315px; */
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.t-button{
    border: none;
    background: transparent;
    color: #23A6F0;
    font-size: 14px;
}
/* .main-navbar ul li a{
    color:#737373;
} */
/* future section  *//* future section  *//* future section  *//* future section  *//* future section  */

.hero-section{
    display: grid;
    align-items: center;
    /* padding-top: 14px; */
    grid-template-columns: 1fr 1fr;
    
}
.main-navbar{
    background-color: #ECF4FF;
}
.hero-section .button_action{
    display: flex;
    gap: 10px;
    padding-bottom: 200px;

}
.hero-section .colm-1{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.hero-section h3{
max-width: 400px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #737373;

}
.hero-section h5{
    font-size: 16px;
    color: #23A6F0;
    margin: 0;
    max-width:542px;
    margin: 0px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}
.hero-section h1{
    font-size:58px;
    color: #252B42;
    max-width:500px; 
}
/* .hero-section h1{
    font-size: 20px;
    color: #737373;
    margin: 0;
    max-width: 334px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

} */
.hero-section .content{
    /* margin: 12px 16px; */
    gap: 45px;
    display: flex;
    flex-direction: column;
    /* width: 544px; */
    
}

.cards{
    position: relative;
    bottom: 90px; 
    display: grid;
    /* gap: 30px; */
    grid-template-columns: repeat(3,1fr);
    align-items: flex-start;
}
.card_style{
    width: 350px;
    /* height: 320px; */
    background-color: white;
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 40px;
    gap: 30px;
}
.cards .icon { 
    /* background-color: #23A6F0; */
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .iconn { 
    /* background-color: #23A6F0; */
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .icon { 
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .card_style:nth-child(1) .icon{
    
    background-color: #23A6F0;
}
.cards .card_style:nth-child(2) .icon{
   
    background-color: #40BB15;
}
.cards .card_style:nth-child(3) .icon{
   
    background-color: #252B42;
}


.cards h3{
    font-size: 16px;
    color: #252B42;
    max-width: 200px;
    /* height: 24px; */
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.cards hr{
    width: 50px;
    height: 2px;
    background-color: #E74040;
    align-self: self-start;
    margin: 0%;
    border-color: transparent;
}

.card_style p{
    
    font-size:14px;
    color:#737373;
    font-weight: 600;
    max-width: 222px;
    line-height:20px;
    letter-spacing:0.2px ; 
}
.cards .icon3{
    background-color: #3C403D;
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .icon3 span{ 
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .icon2{
    background-color:#40BB15;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .icon2 span{ 
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
/* sub-hero-sectionsub-hero-sectionsub-hero-sectionsub-hero-sectionsub-hero-section */
.sub-hero-section{
    display: flex;
     align-items: center;
    justify-content: space-between;
}

.sub-hero-section .colm-1{
    display: flex;
    align-items: end;
    justify-content: center;
}
.sub-hero-section .colm-2 .sub-colm-2{
    display: flex;
    flex-direction: column;
    gap: 35px;

}
.sub-hero-section .colm-2 .sub-colm-2 p{
    max-width: 351px
}
.sub-hero-section .colm-2 .sub-colm-2 hr{
    background-color: #E74040;
    margin: 0%;
    border: none;
    max-width: 94px;
    height: 7px;

}
.sub-hero-section .colm-2 .sub-colm-2 h2{
    font-size: 40px;
    color: #252B42;
    max-width: 253px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}
.sub-hero-section .colm-2 .sub-colm-2 p{
    font-size: 14px;
    color: #737373;
    max-width: 351px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.sub-hero-section .activity-link .link{
    color: #23A6F0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
.sub-hero-section.rightside{
    padding: 5px 21px;
}
.sub-hero-section.leftside{
    display: flex;
    align-items: center ;
}
.companies-section{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns:repeat(6, 1fr);
    /* padding-top: 50px;
    padding-bottom: 50px; */
}
.companies-section .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* practice-section practice-section practice-section practice-section practice-section practice-section */
.bg-practice-section{
    background-color: #252B42;
}
.product-card-section{
    /* padding-top: 180px; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-bottom: 180px; */
}
.product-card-section .topside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 691px;
    

}
.product-card-section .topside h6{
    color:#23A6F0;
    font-size: 14px;
    margin: 0;
    max-width: 120px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
.product-card-section .topside h1{
    color: #fff;
    font-size: 40px;
    margin: 0%;
    max-width: 650px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;


}
.product-card-section .topside p{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    max-width: 469px;
    height: 40px ;

}
/* productcards productcards productcards productcards productcards productcards */
.productcards{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    /* justify-items: center; */
}
.productcards .card{
    padding: 0;
    margin: 0;
    align-items: center;
    padding-bottom: 20px;
    /* width: 340px; */
    /* height: 622px; */
}
.productcards .card-sale h6{
    font-size: 16px;
    margin:0px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.productcards .card-sale span{
    font-size: 20px;
}
.productcards .card .card-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 21px 32px 6px 23px;
    /* height: 322px; */
    padding-bottom: 35px;
   
}
.productcards .card .card-info .name-rate{
    display: flex;
    justify-content: space-between;
    max-width: 298px;
    margin: 0px;
    align-items: center;
}
.productcards .card .card-info .name-rate a{
    color:#23A6F0;
    font-size: 14px;
    text-decoration: none;
    max-width: 192px;

}
.productcards .card .card-info .name-rate button{
    display: flex;
    align-items: center;
    background-color: #252B42;
    gap: 5px;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 2px 10px 3px 5px;
    font-weight: 400;
    max-width: 150px;
}
.productcards .card .card-info .name-rate button span{
    color: gold;
    font-size: 24px;
    padding: 2px 2px 2px 2px;
    position: relative;
} 
.productcards .card .card-info h5{
    font-size: 16px;
    width: 131px;
    color: #252B42;
    margin: 0px;

    
}
.productcards .card .card-info .price h5{
    font-size: 16px;
    width: 131px;
    color: #40BB15;
    margin: 0px;

}
.productcards .card .card-info p{
    max-width: 275px;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin: 0px;
}
.productcards .card .card-info .card-sale{
    display: flex;
    align-items: center;
    padding: 0;
    color: #737373;
    font-size: 14px;
    margin: 0px;

}
.productcards .card .topside{

}
.productcards .card .card-info .card-sale span{
    font-size: 24px;
    margin: 0px;
}
.productcards .card .card-info .price{
   display: flex;
   align-items: center;
   margin: 0px;
}
.productcards .card .card-info .price .old-offer{
    color: #BDBDBD;
    font-size: 14px;
    width: 52px;
    margin: 0px;
}
.productcards .card .card-info .price .newoffer{
    color: #40BB15;
    font-size: 14px;
    width: 52px;
    margin: 0px;
}
/* .productcards .card .card-info .product-link button{
    display: flex;
    align-items: center;
    color: #23A6F0;
    border: 1px solid #23A6F0;
    background-color: transparent;
    border-radius: 37px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    margin: 0px;
    cursor: pointer;

} */
/* .productcards .card .card-info .product-link button:hover{
    background-color:  #0056b3;
} */
.productcards .card .card-topside img{
    /* display: block; */
    width: 100%;
    height: 300px;

}
.card-topside .productcard-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
   
    /* width: 40px; */
}
.productcard-icon .p-icon{
    /* display: flex; */
    background-color: #fff;
    border-radius: 44.79px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 11px 10px 12px 10px;
    color: black;
    
}
.productcard-icon .p-icon span{
    width: 20px;
    font-size: 20px;
    /* align-items: center;
    display: flex; */
    padding: 0%;
    margin: 0%;
    

}
.card-topside {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.p-update{
    position: absolute;
    top: 21px;
    left: 24px;
    background-color: #E74040;
    color: white;
    padding: 9px;
    margin: 0px;
    box-shadow: 0px 2px 4px 0px #0000001A;
    border-radius: 3px;
    max-width: 310px;

}
.p-update h6{
    margin: 0px;
    font-size: 14px;
}


/* pricing-card-section section*//* pricing-card-section section*//*pricing-card-section section*/

/* topside *//* topside *//* topside */

.pricing-card-section{
    /* padding-top: 180px; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-bottom: 180px; */
}
.page-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.page-title h6{
    color:#23A6F0;
    font-size: 14px;
    margin: 0;
    max-width: 100%;
   

}
.page-title h1{
    color: #252B42;
    font-size: 40px;
    margin: 0%;
    max-width: 100%;

}
.page-title p{
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    max-width: 469px;
}


/* Pricing table *//* Pricing table *//* Pricing table *//* Pricing table */
/* Pricing table *//* Pricing table *//* Pricing table *//* Pricing table */

.pricing-tables{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    /* width: 1045px; */
    gap: 40px;
    padding: 0%;
    margin: 0%;
    /* justify-content: space-between; */
    position: relative;
}
.pricing-tables .table{
    display: flex;
    flex-direction: column;
    /* width: 340px; */
    box-shadow: 0px 13px 19px 0px #00000012;
    /* margin: 50px, 40px, 50px, 40px; */
    padding: 50px;
    gap: 35px;
    padding-bottom: 49px;
    

}
.pricing-tables .table .table-icon{
    background: #23A6F0;
    width: 96px;
    height: 96px;
    /* padding: 24px 23px 24px 25px; */
    gap: 0px;
    border-radius: 200px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-tables .table .table-icon i{
    width: 40px;
    height: 36px;
    /* top: 6px;
    left: 4px; */
    gap: 0px;
    font-size: 40px;
    color: #fff;

}
.pricing-tables .table p{
    max-width: 190px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #737373; 
}
.pricing-tables .table h3{
    max-width: 64px;
    font-size: 24px;
    color: #252B42;
}
.pricing-tables .table h6{
    max-width: 203px;
    font-size: 14px;
    color: #737373;

}
.pricing-tables .table .price{
    /* width:  76px; */
    /* height:  74px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
.pricing-tables .table .price h2{
    /* height: 50px; */
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #23A6F0;

 }
.pricing-tables .table .price h6{
    /* height: 24px; */
   
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    color: #8EC2F2;




}
/* .pricing-tables .table button{
    width: 243px;
    height:52px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content:center ;
    color: #fff;
    background-color: #23A6F0;
    border: none;


} */
.pricing-tables .table .feature-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pricing-tables .table .features{
    display: flex;
    align-items: center;
    gap: 10px;
   

}
.pricing-tables .table .features span{
    width: 32px;
    height: 32px;
    padding: 5px 14px 12px 4px;
    gap: 0px;
    border-radius: 200px ;
    /* background-color: #2DC071; */
    color: #fff;
    
}
.pricing-tables .table .features h6{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    max-width: 201px;
    color:#252B42;
    

}
/* .pricing-tables .table .not-features{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pricing-tables .table .not-features span{
    width: 32px;
    height: 32px;
    padding: 5px 14px 12px 4px;
    gap: 0px;
    border-radius: 200px ;
    background-color:#BDBDBD;
    color: #fff;
    
} */
.not-active  {
    background-color:#BDBDBD;

}
.active{
    background-color:#2DC071 ;
}
.pricing-tables .table .not-features h6{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    max-width: 201px;
    color:#252B42;
    ;
}
.pricing-tables .new-logo{
    width: 90px;
    height:90px;
    left: 279px;
    padding: 29px 15px 29px 15px;
    gap: 10px;
    border-radius: 52px;
    background-color: #E77C40;
    position: absolute;
    /* bottom: 836px;
    right: 2px; */
    top: 0px;
    left: 700px;

}
.pricing-tables .new-logo h3{
    max-width: 57px;
    /* height: 32px; */
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #fff;

}
.client-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-bottom: 100px; */

}

/* Testimonials-cardTestimonials-cardTestimonials-cardTestimonials-cardTestimonials-cardTestimonials-card */

.testimonials-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}
.testimonials-cards .card{
    display: flex;
    flex-direction: column;
    /* width: 348px; */
    align-items: center;
    gap: 15px;
    justify-content: center;

}
.testimonials-cards .card .rating-bar{
    display: flex;
    gap: 5px;
}
.testimonials-cards .card .rating-bar i{
    font-size: 20px;
}
.testimonials-cards .card p{
    max-width: 159px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;

}
.testimonials-cards .card .testimonial-user {
    display: flex;
    align-items: center;
    gap: 15px;
    /* width: 158px; */
    /* height: 50px; */
}
.testimonials-cards .card .testimonial-user .user-details{
    /* width: 93px; */
    /* height: 40px; */
}
.testimonials-cards .card .testimonial-user .user-details
h6{
    max-width: 100px;
    /* height: 24px; */
    
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #23A6F0;
}
.testimonials-cards .card .testimonial-user .user-details .small{
    max-width: 56px;
    /* height: 16px; */
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;


}

/* join-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-section */

.bg-join-us-section{
    background-color: #ECF4FF;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}
.join-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    

}
.join-section .topside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 691px;
    align-items: center;

}
.align-item-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}
.join-section .topside h6{
    color:#23A6F0;
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
}
.join-section .topside h1{
    color: #252B42;
    font-size: 40px;
    margin: 0%;
    display: flex;
    align-items: center;

}
.join-section .topside p{
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    max-width: 469px;
    display: flex;
    text-align: center;
}

.subscribe-container {
    background-color: #fff;
    border-radius: 5px;
    width: 70%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.subscribe-form {
    display: flex;
    align-items: center;
    /* width: 688px;
    height: 60px; */
    justify-content: space-between;
}

.subscribe-form input[type="email"] {
    padding: 21px;
    border: 0px solid #ddd;
    border-radius: 5px 0 0 5px;
    max-width: 650px;
    outline: none;
    font-weight: 400;
}

.subscribe-form button {
    padding: 15px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #23A6F0;
    color: #fff;
    cursor: pointer;
    /* outline: none; */
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.subscribe-form button:hover {
    background-color: #0056b3;
}

/* footerfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooter */

.main-footer{
    display: flex;
    flex-direction: column;
    /* height: 346px; */
    background-color: #fff;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    gap: 30px;

}
.main-footer .footer-details{
    display: grid;
    /* gap: 83px; */
    /* max-width: 1144px; */
    padding-bottom: 50px;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
}
.main-footer .footer-details .box{
    display: flex;
    flex-direction: column;
    max-width: 160px;
    /* height: 170px; */
    gap: 20px;
}
.main-footer .footer-details .box h5{
    max-width: 130px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}
.main-footer .footer-details .box .details {
    max-width: 160px;
    /* height:126px;  */
    display: flex;
    flex-direction: column;
    gap: 17px;
    
}
.main-footer .footer-details .box .details a{
    text-decoration: none;
    /* height: 24px; */
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;

}
.main-footer .footer-details .touch-box{
    display: flex;
    flex-direction: column;
    /* width: 148px; */
    /* height: 170px; */
    gap: 20px;
}
.main-footer .footer-details .touch-box h5{
    max-width: 115px;
    /* height: 24px; */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}
.main-footer .footer-details .touch-box .details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-footer .footer-details .touch-box .details i{
    font-size: 24px;
}
.main-footer .footer-details .touch-box .details .contact-number{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.main-footer .footer-details .touch-box .details .contact-number a{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    max-width: 290px;
    text-decoration: none;
}
.main-footer .footer-details .touch-box .details .address{
    display: flex;
    align-items: center;
    gap: 17px;
}
.main-footer .footer-details .touch-box .details .address a{
    max-width: 290px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    text-decoration: none;
}
.main-footer .footer-details .touch-box .details .contact-email{
    display: flex;
    align-items: center;
    gap: 13px;
}
.main-footer .footer-details .touch-box .details .contact-email a{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    max-width: 290px;
    text-decoration: none;
}
.sub-footer {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 25px, 0px, 25px, 0px;
    padding-top: 20px;
    padding-bottom: 30px;;
    
}
.pure-white-footer-bg{
    background-color:#FAFAFA;
}

.sub-footer .col-md-7{
    width: 600px;
    /* height: 24px; */
    display: flex;
    align-items: center ;



}
.sub-footer .col-md-7 h6{
    max-width: 375px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;


}
.sub-footer .col-md-6{
    display:flex ;
    align-items:center;
    justify-content: center;
    gap: 30px;
    
}
.sub-footer .col-md-6 a{
   font-size: 22px;
   text-decoration: none;
}
.color-white{
    color: white !important;
}

.row-gap{
    padding-top:50px;
    padding-bottom:50px;
}