* {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

:root {
    --bar-width: 30px;
    --bar-height: 5px;
    --hamburger-gap: 5px;
    --hamburger-margin: 64px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --primary-color: #23A6F0;
    --secondary-color: #252B42;
    --box-shadow: 0px 13px 19px 0px #00000012;
    --sub-footer-bg-color: #FAFAFA;
    --footer-bg-color: #fff;
    --primary-light-bg-color: #ECF4FF;
    --primary-dark-bg-color: #252B42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 400;
}

.hamburger-navlist {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--secondary-color);
    width: 0;
    height: 100vh;
    display: none;
    z-index: 998;
    overflow: auto;
}

.hamburger-navlist .hamCHECK {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

.font400 {
    font-weight: 400;
}

.font600 {
    font-weight: 500;
}

.paddingleft {
    padding-left: 50px;
}

.display.ruby {
    display: block ruby;
}
.gap5{
    gap: 5px;
}
.hamburger-navlist .hamCHECK a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hamburger-navlist .hamCHECK .ham-sec-dropdown {
    display: flex;
}

.hamburger-navlist .hamCHECK .ham-layer-2 {

    align-items: center;
    flex-direction: column;
}

.gap10 {
    gap: 10px;
}

.hamburger-navlist .hamCHECK .ham-layer-2 a {
    font-weight: 500;
    align-items: center;
    flex-direction: column;
}

.hamburger-menu .hamburger-navlist ul {
    gap: 21px;
    padding: 1px;
    font-size: 14px;
    list-style-type: none;
    align-items: baseline;
    flex-direction: column;
    display: none;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    flex-direction: column;
    gap: var(--hamburger-gap);
    border-radius: 9px;
    /* width: 45px; */
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 999;
    cursor: pointer;
    display: none;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    /* height: var(--bar-height); */
    background-color: var(--primary-color);
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked) {
    --primary-color: #fff;
    --secondary-color: var(--primary-color);
}

#ham-check-1:checked+.ham-dropdown {
    display: flex;
}

.hamburger-menu:has(input:checked)+.hamburger-navlist {
    translate: 0;
}

.main-navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    /* padding: 0px 15px; */
    padding-top: 15px;
    position: relative;

}

.main-navbar h3 {
    font-size: 24px;
    width: 26%;
    /* height: 58px; */
    display: flex;
    color: var(--secondary-color);
    padding: 0;
    align-items: center;

}

.navlist {
    display: flex;
    gap: 21px;
    padding: 1px;
    font-size: 14px;
    list-style-type: none;
    align-items: baseline;
}

.nav-link {
    color: #737373;
}

.main-navbar ul li {
    list-style: none;
    position: relative;
    display: inline;
}

.dropdown {
    /* width: 100%; */
    background-color: var(--primary-color);
    position: absolute;
    display: none;
    z-index: 2;
    padding: 0;
    color: white;
}

.dropdown li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.dropdown li {
    padding: 7px 25px;
    ;
}

.dropdown2 {
    width: 100%;
    background-color: #075988;
    position: absolute;
    left: 94px;
    top: 24px;
    z-index: 999;
    display: none;
    padding: 0px;
}

.ham-layer-1 {
    z-index: 0;
}

.ham-dropdown {
    /* width: 100%; */
    background-color: #0056b3a6;
    position: absolute;
    display: none;
    z-index: 2;
    color: white;
}

.ham-dropdown li a {
    text-decoration: none;
    color: white;
    padding: 5px 0px 5px 50px;
}
.productcards .card .card-info .name-rate span .material-symbols-outlined{
    font-size: 22px;
}
.ham-dropdown li {
    /* padding: 8px 20px; */
}

.ham .ham-dropdown li a :hover {
    background-color: black;
}

.ham-dropdown2 {
    /* width: 100%; */
    background-color: #0056b3e5;
    z-index: 999;
    display: none;
    border-radius: 0px 10px 10px 0px;
}

.ham-layer-1 {
    z-index: 0;
}

/* .dropdown a{ 
    z-index: 0;
    padding-right:;
} */
.layer-1:hover+.dropdown {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

}


.dropdown li button {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3d ease all;
    z-index: 1;
    background-color: transparent;
    border: none;
    padding: 10px 28px;
}

.dropdown li button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--secondary-color);
    z-index: -1;
}

.ex:hover+.dropdown2 {
    display: grid;

}

.dropdown li button:hover,
.dropdown li button:focus {
    color: white;
}

.dropdown li button:hover:before,
.dropdown li button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.dropdown li button:active {
    transform: scale(0.9);
}

.dropdown input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.layer-2:has(input:checked)+.dropdown2 {
    display: flex;
}

.dropdown:hover {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 0;
}

.layer-2:hover+.dropdown2 {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.dropdown2:hover {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.main-navbar ul li .dropdown li {
    display: block;
    padding: 0;

}

.main-navbar ul li a {
    text-decoration: none;
}

/* .main-navbar ul li a:hover{ */
/* background-color: #0056b3; */
/* } */
/* ul li:hover ul .dropdown{
    display: block;
} */
/* ul li:hover ul .dropdown2{
    display: block;
} */

.bg-header-section {
    background-color: var(--primary-light-bg-color);
    /* position: fixed;
    top: 0;
    z-index: 6; */
    width: 100%;
}

.button {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    justify-content: center;
    border: none;
}

.link {
    padding: 0px 0px 100px 0px;
}

.buttom-colour {
    background-color: var(--primary-color);
    color: #fff;
}

.border-button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

}

.round-border-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 37px;

}

.transparent-button {
    border: none;
    background-color: transparent;
    color: var(--primary-color);

}

.brand-name {
    display: ruby;

}

/* .button{
      
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    
} */
body {
    margin: 0;
    /* overflow: hidden;
    width:100% ;
    height: 100%; */

}

.bg-hero-section {
    background-color: var(--primary-light-bg-color);
}

.containerhead {
    margin: auto;
    max-width: 1300px;
}

.container {
    margin: auto;
    max-width: 1145px;
    /* display: flex;
    flex-wrap: wrap; */
}

.nav_button {
    align-items: center;
    display: flex;
    gap: 10px;
}

.navbar {
    display: flex;
    /* gap: 315px; */
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.t-button {
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-size: 14px;
}

/* .main-navbar ul li a{
    color:#737373;
} */
/* future section  */
/* future section  */
/* future section  */
/* future section  */
/* future section  */

.hero-section {
    display: grid;
    align-items: center;
    /* padding-top: 14px; */
    grid-template-columns: 1fr 1fr;

}

.row-gap2 {
    padding-top: 50px;
}

.main-navbar {
    background-color: var(--primary-light-bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-section .button_action {
    display: flex;
    gap: 10px;
    padding-bottom: 200px;

}

.hero-section .hero-first-half {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.hero-section .hero-first-half h3 {
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    /* text-align: center; */
    color: #737373;

}

/* .hamburger-menu{
    display: flex;
    row-gap: 10px;
    align-items: center;
} */
.hamburger-navlist .nav-link {
    display: flex;
    /* align-items: ; */
    text-align: center;
    color: white;
    row-gap: px;
}

.hamburger-navlist button {
    display: none;
}

.hero-section .hero-first-half h5 {
    font-size: 16px;
    color: var(--primary-color);
    margin: 0;
    max-width: 542px;
    margin: 0px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.hero-section .hero-first-half h1 {
    font-size: 58px;
    color: var(--secondary-color);
    max-width: 500px;
}

/* .hero-section h1{
    font-size: 20px;
    color: #737373;
    margin: 0;
    max-width: 334px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

} */
.hero-section .content {
    /* margin: 12px 16px; */
    gap: 45px;
    display: flex;
    flex-direction: column;
    /* width: 544px; */

}

.cards {
    position: relative;
    bottom: 90px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
}

.cards .card_style {
    width: 100%;
    background-color: white;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 40px;
    gap: 30px;
}

.cards .icon {
    /* background-color: var(--primary-color); */
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}


.cards .card_style:nth-child(1) .icon {

    background-color: var(--primary-color);
}

.cards .card_style:nth-child(2) .icon {

    background-color: #40BB15;
}
 .cards .card_style:nth-child(3) .icon {

    background-color: var(--secondary-color);
}
.product-link span{
    font-size: 14px;
}
.activity-link .link span{
    font-style: 14px;
}

.cards h3 {
    font-size: 16px;
    color: var(--secondary-color);
    max-width: 200px;
    /* height: 24px; */
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.cards hr {
    width: 50px;
    height: 2px;
    background-color: #E74040;
    align-self: self-start;
    margin: 0%;
    border-color: transparent;
}
    .qwerty:before{
        width: 500px;
        height: 20px;
        background-color: #E74040;
        align-self: self-start;
        margin: 0%;
        border-color: transparent;
    }

.card_style p {

    font-size: 14px;
    color: #737373;
    font-weight: 600;
    width: 100%;
    line-height: 20px;
    letter-spacing: 0.2px;
}

/* .cards .icon3{
    background-color: #3C403D;
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
} */
/* .cards .icon3 span{ 
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
}
.cards .icon2{
    background-color:#40BB15;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
} */
/* .cards .icon2 span{ 
    padding: 25px 21px;
    display: flex;
    align-items: center;
    font-size:32px;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
} */
/* sub-hero-sectionsub-hero-sectionsub-hero-sectionsub-hero-sectionsub-hero-section */
.sub-hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-hero-section .first-half {
    display: flex;
    align-items: end;
    justify-content: center;
}

.sub-hero-section .second-half .second-half-content {
    display: flex;
    flex-direction: column;
    gap: 35px;

}

.sub-hero-section .second-half.second-half-content p {
    max-width: 351px
}

.sub-hero-section .second-half .second-half-content hr {
    background-color: #E74040;
    margin: 0%;
    border: none;
    width: 94px;
    height: 7px;

}

.sub-hero-section .second-half .second-half-content h2 {
    font-size: 40px;
    color: var(--secondary-color);
    max-width: 345px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    /* text-align: left;
     */
}

.sub-hero-section .second-half .second-half-content p {
    font-size: 14px;
    color: #737373;
    max-width: 351px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.sub-hero-section .activity-link .link {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.sub-hero-section.rightside {
    padding: 5px 21px;
}

.sub-hero-section.leftside {
    display: flex;
    align-items: center;
}

.companies-section {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.companies-section .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* practice-section practice-section practice-section practice-section practice-section practice-section */
.bg-practice-section {
    background-color: var(--primary-dark-bg-color);
}



/* productcards productcards productcards productcards productcards productcards */
.productcards {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    /* justify-items: center; */
}

.productcards .card {
    padding: 0;
    margin: 0;
    align-items: center;
    padding-bottom: 20px;
    /* width: 340px; */
    /* height: 622px; */
}

.productcards .card-sale h6 {
    font-size: 16px;
    margin: 0px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.productcards .card-sale span {
    font-size: 20px;
}

.productcards .card .card-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 21px 32px 6px 23px;
    /* height: 322px; */
    padding-bottom: 35px;

}

.productcards .card .card-info .name-rate {
    display: flex;
    justify-content: space-between;
    /* max-width: 298px; */
    width: 100%;
    margin: 0px;
    align-items: center;
}

.productcards .card .card-info .name-rate a {
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;
    max-width: 192px;

}

.productcards .card .card-info .name-rate button {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    gap: 5px;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 2px 10px 3px 5px;
    font-weight: 400;
    max-width: 150px;
}

.productcards .card .card-info .name-rate button span {
    color: gold;
    font-size: 24px;
    padding: 2px 2px 2px 2px;
    position: relative;
}

.productcards .card .card-info h5 {
    font-size: 16px;
    max-width: 131px;
    color: var(--secondary-color);
    margin: 0px;


}

.productcards .card .card-info .price h5 {
    font-size: 16px;
    max-width: 131px;
    color: #40BB15;
    margin: 0px;

}

.productcards .card .card-info p {
    /* max-width: 275px; */
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin: 0px;
}

.productcards .card .card-info .card-sale {
    display: flex;
    align-items: center;
    padding: 0;
    color: #737373;
    font-size: 14px;
    margin: 0px;

}

.productcards .card .topside {}

.productcards .card .card-info .card-sale span {
    font-size: 24px;
    margin: 0px;
}

.productcards .card .card-info .price {
    display: flex;
    align-items: center;
    margin: 0px;
}

.productcards .card .card-info .price .old-offer {
    color: #BDBDBD;
    font-size: 14px;
    width: 52px;
    margin: 0px;
}

.productcards .card .card-info .price .newoffer {
    color: #40BB15;
    font-size: 14px;
    width: 52px;
    margin: 0px;
}

.position-relative {
    position: relative;
}

/* .productcards .card .card-info .product-link button{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 37px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    margin: 0px;
    cursor: pointer;

} */
/* .productcards .card .card-info .product-link button:hover{
    background-color:  #0056b3;
} */
.productcards .card .card-topside img {
    /* display: block; */
    width: 100%;
    height: 300px;

}

.card-topside .productcard-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;

    /* width: 40px; */
}

.productcard-icon .p-icon {
    /* display: flex; */
    background-color: #fff;
    border-radius: 44.79px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 11px 10px 12px 10px;
    color: black;

}

.productcard-icon .p-icon span {
    width: 20px;
    font-size: 20px;
    /* align-items: center;
    display: flex; */
    padding: 0%;
    margin: 0%;


}

.card-topside {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-update {
    position: absolute;
    top: 21px;
    left: 24px;
    background-color: #E74040;
    color: white;
    padding: 9px;
    margin: 0px;
    box-shadow: var(--box-shadow);
    /* box-shadow: 0px 2px 4px 0px #0000001A; */
    border-radius: 3px;
    max-width: 310px;

}

.p-update h6 {
    margin: 0px;
    font-size: 14px;
}


/* pricing-card-section section*/
/* pricing-card-section section*/
/*pricing-card-section section*/

/* topside */
/* topside */
/* topside */

.pricing-card-section {
    /* padding-top: 180px; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-bottom: 180px; */
}

.page-title {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.page-title h6 {
    color: var(--primary-color);
    font-size: 14px;
    margin: 0;
    max-width: 100%;


}

.page-title h1 {
    color: var(--secondary-color);
    font-size: 40px;
    margin: 0%;
    max-width: 100%;

}

.page-title p {
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    max-width: 469px;
}


/* Pricing table */
/* Pricing table */
/* Pricing table */
/* Pricing table */
/* Pricing table */
/* Pricing table */
/* Pricing table */
/* Pricing table */

.pricing-tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* width: 1045px; */
    gap: 40px;
    padding: 0%;
    /* justify-content: space-between; */
}

.pricing-tables .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: var(--box-shadow);
    /* margin: 50px, 40px, 50px, 40px; */
    padding: 50px;
    gap: 25px;
    padding-bottom: 49px;


}

.pricing-tables .table .table-icon {
    background: var(--primary-color);
    width: 96px;
    height: 96px;
    /* padding: 24px 23px 24px 25px; */
    gap: 0px;
    border-radius: 200px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-tables .table .table-icon i {
    width: 40px;
    height: 36px;
    /* top: 6px;
    left: 4px; */
    gap: 0px;
    font-size: 40px;
    color: #fff;

}

.pricing-tables .table p {
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #737373;
}

.pricing-tables .table h3 {
    max-width: 100%;
    font-size: 24px;
    color: var(--secondary-color);
}

.pricing-tables .table h6 {
    max-width: 100%;
    font-size: 14px;
    color: #737373;

}

.pricing-tables .table .price {
    /* width:  76px; */
    /* height:  74px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.pricing-tables .table .price h2 {
    /* height: 50px; */
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--primary-color);

}

.pricing-tables .table .price h6 {
    /* height: 24px; */

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    color: #8EC2F2;




}

/* .pricing-tables .table button{
    width: 243px;
    height:52px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content:center ;
    color: #fff;
    background-color: var(--primary-color);
    border: none;


} */
.pricing-tables .table .feature-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pricing-tables .table .features {
    display: flex;
    align-items: center;
    gap: 10px;


}

.pricing-tables .table .features span {
    width: 32px;
    height: 32px;
    padding: 5px 14px 12px 4px;
    gap: 0px;
    border-radius: 200px;
    /* background-color: #2DC071; */
    color: #fff;

}

.pricing-tables .table .features h6 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    max-width: 201px;
    color: var(--secondary-color);


}

/* .pricing-tables .table .not-features{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pricing-tables .table .not-features span{
    width: 32px;
    height: 32px;
    padding: 5px 14px 12px 4px;
    gap: 0px;
    border-radius: 200px ;
    background-color:#BDBDBD;
    color: #fff;
    
} */
.not-active {
    background-color: #BDBDBD;

}

.active {
    background-color: #2DC071;
}

.pricing-tables .new-logo {
    width: 90px;
    height: 90px;
    padding: 29px 15px 29px 15px;
    gap: 10px;
    border-radius: 52px;
    background-color: #E77C40;
    position: absolute;
    /* bottom: 836px;
    right: 2px; */
    top: 0px;
    /* left: 700px; */
    right: -12px;
}

.pricing-tables .new-logo h3 {
    max-width: 57px;
    /* height: 32px; */
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #fff;

}

.client-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-bottom: 100px; */

}

/* Testimonials-cardTestimonials-cardTestimonials-cardTestimonials-cardTestimonials-cardTestimonials-card */

.testimonials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.testimonials-cards .card {
    display: flex;
    flex-direction: column;
    /* width: 348px; */
    align-items: center;
    gap: 15px;
    justify-content: center;

}

.testimonials-cards .card .rating-bar {
    display: flex;
    gap: 5px;
}

.rating-bar i {
    color: #FFD43B;
}

.testimonials-cards .card .rating-bar i {
    font-size: 20px;
}

.testimonials-cards .card p {
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;

}

.testimonials-cards .card .testimonial-user {
    display: flex;
    align-items: center;
    gap: 15px;
    /* width: 158px; */
    /* height: 50px; */
}

.testimonials-cards .card .testimonial-user .user-details {
    /* width: 93px; */
    /* height: 40px; */
}

.testimonials-cards .card .testimonial-user .user-details h6 {
    max-width: 100px;
    /* height: 24px; */

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--primary-color);
}

.testimonials-cards .card .testimonial-user .user-details .small {
    max-width: 56px;
    /* height: 16px; */
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--secondary-color);


}

/* join-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-sectionjoin-section */

.bg-join-us-section {
    background-color: var(--primary-light-bg-color);
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.join-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;


}

.join-section .topside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 691px;
    align-items: center;

}

.align-item-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.join-section .topside h6 {
    color: var(--primary-color);
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
}

.join-section .topside h1 {
    color: var(--secondary-color);
    font-size: 40px;
    margin: 0%;
    display: flex;
    align-items: center;

}

.join-section .topside p {
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    max-width: 469px;
    display: flex;
    text-align: center;
}

.subscribe-container {
    background-color: #fff;
    border-radius: 5px;
    width: 70%;
}

.subscribe-form {
    display: flex;
    align-items: center;
    /* width: 688px;
    height: 60px; */
    justify-content: space-between;
}

.subscribe-form input[type="email"] {
    padding: 21px;
    border: 0px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 100%;
    outline: none;
    font-weight: 400;
}

.subscribe-form button {
    padding: 15px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    /* outline: none; */
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.subscribe-form button:hover {
    background-color: #0056b3;
}

/* footerfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooterfooter */
.main-footer-bg {
    background-color: var(--footer-bg-color);
}

.main-footer {
    display: flex;
    flex-direction: column;
    /* height: 346px; */
    background-color: #fff;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    gap: 30px;

}

.main-footer .footer-details {
    display: grid;
    max-width: 100%;
    padding-bottom: 50px;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
}

.main-footer .footer-details .box {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    /* height: 170px; */
    gap: 20px;
}

.main-footer .footer-details .box h5 {
    max-width: 130px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: var(--secondary-color);
}

.main-footer .footer-details .box .details {
    max-width: 160px;
    /* height:126px;  */
    display: flex;
    flex-direction: column;
    gap: 17px;

}

.main-footer .footer-details .box .details a {
    text-decoration: none;
    /* height: 24px; */
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;

}

.main-footer .footer-details .touch-box {
    display: flex;
    flex-direction: column;
    /* width: 148px; */
    /* height: 170px; */
    gap: 20px;
}

.main-footer .footer-details .touch-box h5 {
    max-width: 115px;
    /* height: 24px; */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: var(--secondary-color);
}

.main-footer .footer-details .touch-box .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-footer .footer-details .touch-box .details i {
    font-size: 24px;
}

.main-footer .footer-details .touch-box .details .contact-number {
    display: flex;
    align-items: center;
    gap: 10px;

}

.main-footer .footer-details .touch-box .details .contact-number a {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    max-width: 290px;
    text-decoration: none;
}

.main-footer .footer-details .touch-box .details .address {
    display: flex;
    align-items: center;
    gap: 17px;
}

.main-footer .footer-details .touch-box .details .address a {
    max-width: 290px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    text-decoration: none;
}

.main-footer .footer-details .touch-box .details .contact-email {
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-footer .footer-details .touch-box .details i {
    color: var(--primary-color);
}

.main-footer .footer-details .touch-box .details .contact-email a {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    max-width: 290px;
    text-decoration: none;
}

.sub-footer {
    display: flex;
    align-items: center;

    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 25px, 0px, 25px, 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    ;

}

.pure-white-footer-bg {
    background-color: var(--sub-footer-bg-color);
}

.sub-footer .sub-footer-first-half {
    /* height: 24px; */
    display: flex;
    align-items: center;



}

.sub-footer .sub-footer-first-half h6 {
    max-width: 375px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;


}

.sub-footer .sub-footer-second-half {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.sub-footer .sub-footer-second-half a {
    font-size: 22px;
    text-decoration: none;
}

.color-white {
    color: white !important;
}

.row-gap {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sub-footer-second-half a {
    color: var(--primary-color);
}

.screen-spacing {
    padding-right: 20px;
    padding-left: 20px;
}

.hamburger-menu-list {
    display: none;
}